<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/692596f4-eddf-417f-8e42-35c41483654f/resourcegroups/4U/providers/Microsoft.Web/sites/4Uchat20250618230650</ResourceId>
    <ResourceGroup>4U</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://4uchat20250618230650.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c7e4ea27-31ba-4e3c-8417-be9246c83ac9</ProjectGuid>
    <PublishUrl>https://4uchat20250618230650.scm.azurewebsites.net/</PublishUrl>
    <UserName>$4Uchat20250618230650</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>